<html>
<body>
<h2>Product Scraper</h2>
<p>Do a GET request to the route <b> http://localhost:3009/api/scrap?url=[product_URL]</b> to retrieve the expected information.<br><br></p>
<p><b>Example:</b></p>
<p><b>http://localhost:3009/api/scrap?url=https://www.saraiva.com.br/fifa-22-br-ps4-20074001/p</b></p>
</b> <br></p>
<p><b>Ps: For now is only available to scrape Zattine, Saraiva and CasasBahia.</b></p>
<br>
<p><b>URLs examples:</b></p>
<p> https://www.saraiva.com.br/fifa-22-br-ps4-20074001/p </p>
<p> https://www.zattini.com.br/vesitod-top-moda-chemise-midi-preto-ESJ-0296-006 </p>
<p> https://www.casasbahia.com.br/Telefones-Celulares/Smartphones/iPhone/iphone-11-apple-64gb-preto-tela-de-61-camera-dupla-de-12mp-ios-55014764.html?IdSku=55014764&recSource=whome&recType=lx_mais_vendidos </p>
</body>
</html>